body{
  font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
  font-weight: 300;
  line-height: 1.2;
}
.html{
  font-family: Arial,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -.5px;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

*, :after, :before {
  box-sizing: inherit;
}